{#
SPDX-FileCopyrightText: 2024 Contributors to the HPCToolkit Project

SPDX-License-Identifier: BSD-3-Clause
#}

spack:
  packages:
    all:
      require: ['target=x86_64']
    cuda:
      buildable: False
      externals:
      - spec: cuda@{{ versions.cuda }}-os%gcc
        prefix: /usr/local/cuda/

  specs:
  - hpctoolkit@{{ "HPCTOOLKIT_VERSION"|env("INVALID-VERSION") }} +cuda +debug ~python ~viewer

  container:
    images:
      build: localhost/spack-bootstrap-{{ slug }}
      final: nvcr.io/nvidia/cuda:{{ image.cuda }}-devel-ubuntu22.04
