{#
SPDX-FileCopyrightText: 2024 Contributors to the HPCToolkit Project

SPDX-License-Identifier: BSD-3-Clause
#}

spack:
  packages:
    all:
      require: ['target=x86_64']
    hip:
      buildable: false
      externals:
      - spec: hip@{{ versions.rocm }}-os%gcc
        prefix: /opt/rocm/
    hsa-rocr-dev:
      buildable: false
      externals:
      - spec: hsa-rocr-dev@{{ versions.rocm }}-os%gcc
        prefix: /opt/rocm/
    rocprofiler-dev:
      buildable: false
      externals:
      - spec: rocprofiler-dev@{{ versions.rocm }}-os%gcc
        prefix: /opt/rocm/
    roctracer-dev:
      buildable: false
      externals:
      - spec: roctracer-dev@{{ versions.rocm }}-os%gcc
        prefix: /opt/rocm/

  specs:
  - hpctoolkit@{{ "HPCTOOLKIT_VERSION"|env("INVALID-VERSION") }} +rocm +debug ~python ~viewer

  container:
    images:
      build: localhost/spack-bootstrap-{{ slug }}
      final: docker.io/rocm/dev-ubuntu-22.04:{{ image.rocm }}
